</div>
<section class="footer">
    <p>© copyright 2020 Mohit</p>
    <div class="social-icons">
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-instagram"></i>
    </div>
</section>

</body>

</html>