<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Journal</title>
    <script src="https://kit.fontawesome.com/61f39ee025.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <nav>
        <div class="logo">
            <h1>DAILY JOURNAL</h1>
        </div>
        <div class="nav-links">
            <ul>
                <li><a href="http://localhost:3000/home">HOME</a></li>
                <li><a href="http://localhost:3000/about">ABOUT</a></li>
                <li><a href="http://localhost:3000/contact">CONTACT</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">